<html>
  <head> </head>
  <body class="container" style="height: 100vh !important; width: 100vw !important;margin-left: 0 !important; margin-right: 0 !important">
      <div class="row" style="width: 100vw !important;margin-left: 0 !important; margin-right: 0 !important">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <!-- Brand/logo -->
                    <a class="navbar-brand" href="#">Logo</a>
                    
                    <!-- Links -->
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link 1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link 2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link 3</a>
                      </li>
                    </ul>
                  </nav>
      </div>
      <br /><br />
      <div class="row">
      <app-list [elems]="elements"></app-list>
    </div>
  </body>
</html>
